<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfFBje_vWJvj0e6xZvhDMJP2saJWhRL30</string>
	<key>GCM_SENDER_ID</key>
	<string>102646728384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>il.ac.braude.simaan.agarVision</string>
	<key>PROJECT_ID</key>
	<string>agar-vision</string>
	<key>STORAGE_BUCKET</key>
	<string>agar-vision.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102646728384:ios:058f81e9311ac648478f25</string>
</dict>
</plist>